<footer>
    <div class="container col-md-8 col-centered text-center">
             
             <ul class="footer-links">
                 <a href="https://openbazaar.org/"><img class="footer-logo" src="images/logo.png"></a>
    
                <li><a href="https://blog.openbazaar.org/" target="_blank">Blog</a></li>
                <li><a href="https://blockchain.info/address/3MXYUBLWNETa5HTewZp1xMTt7AW9kbFNqs" target="_blank">3MXYUBLWNETa5HTewZp1xMTt7AW9kbFNqs</a></li>
                <li><a href="">Report Bugs</a></li>
             </ul>
    </div>
</footer>
