<footer>
    <div class="container col-md-8 col-centered text-center">
             
             <ul>
                 <a href="https://openbazaar.org/"><img src="images/logo.png" width="15%" height="15%" style="margin-bottom: 15px;"></a>
    
                <li style="display: inline; margin-left: 5px;"><a href="">Blog</a></li>
                <li style="display: inline; margin-left: 5px;"><a href="">3MXYUBLWNETa5HTewZp1xMTt7AW9kbFNqs</a></li>
                <li style="display: inline; margin-left: 5px;"><a href="">Report Bugs</a></li>
             </ul>
    </div>
</footer>
