<div class="container view-space">

    <div class="row">
        
        <div class="col-md-6 col-centered text-center">
            <img src="images/icon-large.png" width="15%" height="15%"><br />
        <h2 class="text-center">OpenBazaar</h2>
    <div class="input-group">
      <input type="text" size="600" class="form-control" placeholder="Search for a product or store">
          <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

    </div>


</div>
